.button {
    position: relative;

    width: 25%;
    height: 10vw;

    color: black;
    font-size: 5vw;   
    text-align: center;
    
    background-color: rgb(112, 112, 184);
    border-color: rgb(68, 45, 73);
}

