.button {
    position: relative;

    width: 25%;
    padding-bottom: 7%;
    padding-top: 7%;

    color: black;
    font-size: 24px;   
    text-align: center;
    

    background-color: rgb(112, 112, 184);
    border-color: rgb(68, 45, 73);
}

