.c-calculator {
    padding: auto;
    margin: 2%;

    position: relative;

    background-color: rgb(240, 202, 245);
    width: 50%;
    height: auto;

    border-style: solid;
    border-color: rgb(75, 11, 83);
}